

on:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name : "ssh Into the system"
        run : |
         echo "${{ vars.KEY }}" >> key.pem.b64
         base64 --decode key.pem.b64 > key.pem
         chmod 600 key.pem   
         ssh -i key.pem -o StrictHostKeyChecking=no haideralibjssoftsolution@136.115.207.167
