name: "The pipeline run by ${{ github.actor }}"

on:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name : "ssh Into the system"
        run : |
         echo "${{ vars.KEY }}"
